#welcome .welcome-header {
    margin: 100px 0 0 10px;
}

#welcome .welcome-header h1,
#welcome .welcome-header h2 {
    color: white;
    font-family: "American Typewriter";
    margin: 0;
}

#welcome .welcome-header h1 {
    font-size: 30px;
}

#welcome .welcome-header h2 {
    position: relative;
    left: 10px;
}

#welcome .welcome-text {
    background: rgba(255, 255, 255, 0.15);
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0 0 0;
    padding: 0 50px 0 0;
    align-items: flex-end;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(165, 23, 23, 0.25);
}

#welcome .welcome-text p {
    margin: 10px 20px;
}

#welcome .welcome-text p {
    margin: 10px 20px;
}

#welcome .welcome-text blockquote {
    font-weight: bold;
}

#welcome div:nth-child(1) {
    position: fixed;
    top: 0;
    left: 10px;
    z-index: -1;
    height: 100vh;
}

#welcome div:nth-child(1) span {
    display: inline-block;
    width: 15px;
    height: 100vh;
    position: relative;
    top: -100vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    animation: 20s ease-in-out descend;
    animation-iteration-count: infinite;
}

#welcome div:nth-child(1) span:nth-child(1) {
    background-color: #446996;
    animation-delay: 0.1s;
}

#welcome div:nth-child(1) span:nth-child(2) {
    background-color: #2d4264;
    animation-delay: 0.2s;
}

#welcome div:nth-child(1) span:nth-child(3) {
    background-color: #182033;
    animation-delay: 0.3s;
}

#welcome div:nth-child(1) span:nth-child(4) {
    background-color: #1b2826;
    animation-delay: 0.4s;
}

#welcome div:nth-child(1) span:nth-child(5) {
    background-color: #1f3423;
    animation-delay: 0.5s;
}

#welcome div:nth-child(1) span:nth-child(6) {
    background-color: #2b482a;
    animation-delay: 0.6s;
}

#welcome div:nth-child(1) span:nth-child(7) {
    background-color: #364a2b;
    animation-delay: 0.7s;
}

#welcome div:nth-child(1) span:nth-child(8) {
    background-color: #262a16;
    animation-delay: 0.8s;
}

#welcome div:nth-child(1) span:nth-child(9) {
    background-color: #3a4016;
    animation-delay: 0.9s;
}

#welcome div:nth-child(1) span:nth-child(10) {
    background-color: #888136;
    animation-delay: 1s;
}

#welcome div:nth-child(1) span:nth-child(10) {
    background-color: #635021;
    animation-delay: 1.1s;
}

#welcome div:nth-child(1) span:nth-child(11) {
    background-color: #533217;
    animation-delay: 1.2s;
}

#welcome div:nth-child(1) span:nth-child(12) {
    background-color: #5c2a1d;
    animation-delay: 1.3s;
}

@media (min-width: 768px) {
    #welcome .welcome-header {
        margin: 100px 0 0 10px;
    }
    #welcome .welcome-header h1 {
        font-size: 100px;
    }
    #welcome .welcome-header h2 {
        left: 350px;
    }
    #welcome .welcome-text p {
        margin: 10px 20px 0 200px;
    }
    #welcome div:nth-child(1) {
        left: 100px;
    }
    #welcome div:nth-child(1) span {
        width: 30px;
    }
}

@keyframes descend {
    0% {
        transform: rotateZ(0deg);
        top: -100vh
    }
    10% {
        height: 100vh;
        left: 0;
        transform: rotateZ(0);
        top: 0;
    }
    15% {
        height: 100vh;
        left: 0;
        transform: rotateZ(0);
        top: 0;
    }
    50% {
        transform: rotateZ(360deg);
    }
    75% {
        transform: rotateZ(0);
        top: 0;
    }
    100% {
        top: -100vh
    }
}