nav {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    font-size: 1.15rem;
}

nav a {
    display: inline-block;
    margin: 0 5px;
    color: lightgray;
    font-weight: bold;
    text-decoration: none;
}