.pause-button {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 30px;
    z-index: 1000;
    position: fixed;
    bottom: 10px;
    left: 10px;
}